<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>register</title>
</head>
<body>
<form th:action="@{/member/register}" method="post">
	<div>
		<label>ID : </label>
		<input type="text" name="id" th:value="${memberDTO.id}">
		<span th:text="${valid_id}" style="color: red"></span>
	</div>

	<div>
		<label>PWD : </label>
		<input type="text" name="password" th:value="${memberDTO.password}">
		<span th:text="${valid_password}" style="color: red"></span>
	</div>

	<div>
		<label>NAME : </label>
		<input type="text" name="name" th:value="${memberDTO.name}">
		<span th:text="${valid_name}" style="color: red"></span>
	</div>

	<div>
		<label>EMAIL : </label>
		<input type="text" name="email" th:value="${memberDTO.email}">
		<span th:text="${valid_email}" style="color: red"></span>
	</div>

	<button type="submit"> 등록 </button>
</form>

</body>
</html>